// --------------------------- global CSS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: $body;
}

img {
	max-width: 100%;
}

.wrapper {
    max-width: 300px;
   	width: 100%;
    padding: 3px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.active {
	background-color: #E8E8E8;
	color: $w;
	transition: background-color 0.35s ease-in;
}
