// --------------------------- global CSS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: $body;
    color: $dg;
}

a {
	color: $g;
	text-decoration: none;
	border-bottom: 2px solid $g;
}

p {
	line-height: $line-height;
}
img {
	max-width: 100%;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}