.wrapper {
	width: 550px;
	display: block;
	margin: 0 auto;
}


section {
	padding: $p;

	ul {
		width: 50%;
		float: left;

		h2 {
			font-size: $fs-lg;
			&:before {
				content: "";
				display: block;
				margin: $p 0;
				width: 70px;
				height: $m;
				background: $dg;
			}
		}

		li {
			list-style-type: none;
		}
	}
}